body{
	  width: 100%;
    height: 100%;
    object-fit: cover; 
    margin: 0;
    padding: 0;
    background: url(img/frame2.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}


.form-search {
   display: inline-block;
   position: relative;
   top: 10px;
   left: 1000px;
   text-align: right;
}
.form-search input {
  all: unset;
}

h1{
  position: relative;
  top: 30px;
  font-size: 40px;
  text-decoration: none;
  font-family: URW Chancery L, cursive;
}

h4{
  color: white;
}

a{
  text-decoration: none;
  color: #545151;
}

h5{
  font-size: 18px;
  position: relative;
  top: 35px;
}

h1, h5{
	text-align: center;
  color: #545151;
}


.time {
  color: #545151;
  text-align: center;
  position: relative;
  top: -1px;
  margin: auto;
  width: 100%;
  font-size: 10vw;
  opacity: .7;
  z-index: 10;
  font-weight: 500;
}

#menuHrefs a {
  position: relative;
  top: 50px;
	padding: 5px;
	border-radius: 5px;
	margin-right: 5px;
	color: #545151;
  font-size: 18px;

}
/*#menuHrefs:before, menuHrefs:after{
	content: "";
	flex: 1 1;
	border-bottom: 1px solid #000;
	margin: auto;
}*/
#menuHrefs a:hover {background-color:  #4CF5F9}

.slideshow-container{
	max-width: 1000px;
	position: relative;
	top: 100px;
	margin: auto;
  right: 12px;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, next:hover{
	background-color: rgba(0,0,0,0.8);
}

.text{
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot{
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, dot:hover{
	background-color: #717171;
}

.fade{
	-webkit-animation-name:fade;
	-webkit-animation-duration:1.5s;
	 animation-name:fade;
	 animation-duration: 1.5s;
}
@-webkit-keyframes fade{
	from{opacity: 4}
	to{opacity: 1}
}
@keyframes fade{
	from{opacity: 4}
	to{opacity: 1}
}

h3 {
	text-align: center;
	color: #545151;
	position: relative;
	top: 220px;
  font-size: 25px;
}

div.news-list {
  color: #545151;
  padding: 20px 0 20px 0;
  text-align: left; /* выравниваем по горизонтали */
  vertical-align: middle; /* выравниваем по вертикали */
}
div.one-news {
   position: relative;
   width: 30%;
   float: left;
   top: 200px;
   left: 330px;
}


div.one-news-last {
 margin: 0;
}


.cont_login {
  position: relative;
  width: 640px;
  left: 50%;
  margin-left: -320px;
}


.cont_forms {
  position: absolute;
  overflow: hidden;
  top: 200px;
  left: 0px;
  width: 320px;
  height: 280px;
  background-color: #eee;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_login {
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
  height: 420px;
  top: 200px;
  left: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_sign_up {
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
  height: 420px;
  top: 200px;
  left: 320px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}



.cont_img_back_grey>img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.7;
  animation-name: animar_fondo;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cont_img_back_ {
  position: absolute;
  width: 950px;
  top: -80px;
  left: -116px;
}

.cont_img_back_>img {
  width: 100%;
  opacity: 0.8;
  animation-name: animar_fondo;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cont_forms_active_login>.cont_img_back_ {
  top: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_sign_up>.cont_img_back_ {
  top: 0px;
  left: -435px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_info_log_sign_up {
  position: absolute;
  width: 640px;
  height: 280px;
  top: 100px;
  z-index: 1;
}

.col_md_login {
  position: relative;
  float: left;
  width: 50%;
}

.col_md_login>h2 {
  font-weight: 400;
  margin-top: 70px;
  color: #fff;
}

.col_md_login>p {
  font-weight: 400;
  margin-top: 15px;
  width: 80%;
  color: #37474F;
}

.btn_login {
  background-color: #03A9F4;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.col_md_sign_up {
  position: relative;
  float: left;
  width: 50%;
}

.cont_ba_opcitiy>h2 {
  font-weight: 400;
  color: #fff;
}

.cont_ba_opcitiy>p {
  font-weight: 400;
  margin-top: 15px;
  color: #fff;
}

/* ----------------------------------
background text
------------------------------------ */

.cont_ba_opcitiy {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  border-radius: 3px;
  margin-top: 60px;
  padding: 15px 0px;
}

.btn_sign_up {
  background-color: #d32f2f;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.cont_forms_active_sign_up {
  z-index: 2;
}

@-webkit-keyframes animar_fondo {
  from {
    -webkit-transform: scale(1) translate(0px);
    -moz-transform: scale(1) translate(0px);
    -ms-transform: scale(1) translate(0px);
    -o-transform: scale(1) translate(0px);
    transform: scale(1) translate(0px);
  }
  to {
    -webkit-transform: scale(1.5) translate(50px);
    -moz-transform: scale(1.5) translate(50px);
    -ms-transform: scale(1.5) translate(50px);
    -o-transform: scale(1.5) translate(50px);
    transform: scale(1.5) translate(50px);
  }
}

@-o-keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}

@-moz-keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}

@keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}

.cont_form_login {
  position: absolute;
  opacity: 0;
  display: none;
  width: 320px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_login {
  z-index: 2;
}

.cont_forms_active_login>.cont_form_login {}

.cont_form_sign_up {
  position: absolute;
  width: 320px;
  float: left;
  opacity: 0;
  display: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_form_sign_up>input {
  text-align: left;
  padding: 15px 5px;
  margin-left: 10px;
  margin-top: 20px;
  width: 260px;
  border: none;
  color: #fff;
}

.cont_form_sign_up>h2 {
  margin-top: 50px;
  font-weight: 400;
  color: #fff;
}

.cont_form_login>input {
  padding: 15px 5px;
  margin-left: 10px;
  margin-top: 20px;
  width: 260px;
  border: none;
  text-align: left;
  color: #fff;
}

.cont_form_login>h2 {
  margin-top: 110px;
  font-weight: 400;
  color: #fff;
}

.cont_form_login>a, .cont_form_sign_up>a {
  color: #fff;
  position: relative;
  float: left;
  margin: 10px;
  margin-left: 30px;
}

.image {
  position  : relative;
  top: 120px;
  width   : 100%; /* for IE 6 */
  text-align: center;
}

h2 {
  position: absolute;
  top   : -28px;
  left    : 0;
  width   : 100%;
}
h2 span {
  color     : white;
  font      : bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing    : -1px;
  background    : rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
  background    : rgba(0, 0, 0, 0.7);
  padding     : 10px;
}

h2 span.spacer {
  padding : 0 5px;
}

.map{
  position: relative;
  top: 100px;
  text-align: center;
}


#wrapper {
  position: relative;
  top: 100px;
  float:left;
  width: 100%;
  margin-top: 20px;
}
p {
    margin-top: 0.5em; /* Îòñòóï ñâåðõó */
    margin-bottom: 1em; /* Îòñòóï ñíèçó */
   }
#wrapper #articles {
  float: left;
  width: 80%;
  margin-left: 10%;
}

#wrapper #articles article{
  float: left;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #e2e0e0;
  min-height: 400px;
}

@media(min-width: 700px) {
#wrapper #articles article {
  width: 31.333%;
  margin-right: 2%;
}}

@media(max-width: 699px) {
#wrapper #articles article {
  width: 100%;
  margin-bottom: 10px;
}}



#wrapper #articles article img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
  
}

#wrapper #articles article h2 {
  width: 90%;
  margin-left: 5%;
  font-weight: normal;
  font-size: 1.7em;
}

#wrapper #articles article p{
  width: 80%;
  margin-left: 10%;
  text-indent: 1em;
}

#wrapper #articles article a{
  padding: 5 px;
  background-color: gray;
  margin-left: 5%;
  border-radius: 5px;
  color: #fff;
  float: left;
  margin-bottom: 10px;
  line-height: 20px;
}

#wrapper #articles article a:hover{background-color: #5CF5F7;}




footer {
    padding: 5px;
    background-color: #e2e0e0;
    color: grey;
    position: relative;
    top: 800px;
    text-align: center;
}